

.count {
	font-size: 4em;
	padding: 0.1em;

}

.section {
	flex: 1;
	border: solid 3px blue;
	padding: 2em;
	margin: 1em;
	border-radius: 0.5em;
	background-image: linear-gradient(yellow, red);
}


  .section:hover { border-width: 12px;
width: 450px;
height: 550px; }

button {
	padding: 1em;
	border-radius: 0.5em;
	font-weight: bold;
}

@media (min-width: 768px) {
	.sections {
		display: flex;
	}
}